*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background: #132438;
    background: linear-gradient(90deg, rgba(19, 36, 56, 1) 0%, rgba(13, 35, 99, 1) 8%, rgba(13, 35, 99, 1) 92%, rgba(19, 36, 56, 1) 100%);
}
div.divider{
    font-size: 5px;
    color: black;
    background-color: black;
}
button{
    justify-content: center;
    font-size: 1.3rem;
    font-family: "Germania One";
    border-radius: 5px;
    height: 40px;
    padding: 0 12px 0 12px;
    border: 2px solid white;
    background-color: darkblue;
    color: white;
}
button:hover{
    background-color: rgb(0, 0, 84);
    cursor: pointer;
}


/*------------------------------------------HOME Section/NAV-----------------------------------*/
section#home header div img{
    height: 20px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: white 1px solid;
    margin: 0 10px 0 0;
}
section#home{
    /*background: #07065c;
    background: linear-gradient(90deg, rgba(7, 6, 92, 1) 0%, rgba(21, 21, 143, 1) 35%, rgba(34, 0, 255, 1) 100%);*/
    padding: 0 50px 0 50px;
    background-image: url("../img/Background\ Blue.png");
    background-repeat: no-repeat;
    background-size: 152%;
}
section#home header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0; /*Padding-top 30px*/
    /*background-color: black;*/
    align-items: center;
    font-family: "Germania One";
}
section#home header div{
    display: flex;
    align-items: center;
}
section#home header div h1{
    font-weight: 100;
    color: white;
}
section#home header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
section#home header nav ul{
    display: flex;
    gap: 20px;
}
section#home header nav ul li{
    list-style: none;
}
section#home header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/*------------------------------------------HOME Content-----------------------------------*/
section#home #content{
    display: flex;
    width: 100%;
    align-items: center;
    /*background-color: red;*/
}
section#home #content div{
    justify-content: center;
    margin: 58px 0 72px 0;
}
section#home #content h2{
    font-weight: 100;
    font-family: "Germania One";
    font-size: 3.5rem;
    color: white;
    padding: 0 0 15px 0;
}
section#home #content p{
    font-size: 1.7rem;
    color: white;
    padding: 0 0 15px 0;
}
section#home #content div img{
    display: flex;
    width: 30vw;
    margin-left: 50px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 25px -5px white;
}

/*------------------------------------------ABOUT Section-----------------------------------*/
section#about{
    display: flex;
    padding: 72px 50px 72px 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    color: white;
}
section#about div div h2{
    font-weight: 100;
    font-family: "Germania One";
    font-size: 3.5rem;
}
section#about div div p{
    padding: 15px 0 15px 0;
}
section#about div#percent_box div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
section#about div#percent_box div div{
    background-color: rgba(60, 60, 60, 0.603);
    padding: 5px 15px 5px 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 44.5%;
    margin-bottom: 10px;
}
section#about div#percent_box div div p{
    font-family: "Germania One";
    margin: 0;
    padding: 0;
}
section#about div button{
    margin-top: 15px;
}
section#about div img{
    display: flex;
    width: 35vw;
    margin-right: 50px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 25px -5px white;
}

/*------------------------------------------SERVICE Section-----------------------------------*/
section#services{
    padding: 72px 50px 72px 50px;
    text-align: center;
    align-items: center;
    font-size: 1.7rem;
    color: white;
}
section#services div h2{
    font-weight: 100;
    font-family: "Germania One";
    font-size: 3.5rem;
}
section#services div#service_box{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
section#services div#service_box div{
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.603);
    border: 5px solid black;
    border-radius: 15px;
}
section#services div#service_box div h3{
    text-align: left;
    font-weight: 100;
    font-family: "Germania One";
    font-size: 2.5rem;
}
section#services div#service_box div p{
    padding: 0;
    margin: 0;
    text-align: left;
}
section#services div#service_box div img{
    width: 100%;
}

/*------------------------------------------PORTFOLIO Section-----------------------------------*/
section#portfolio{
    padding: 72px 50px 72px 50px;
    text-align: center;
    align-items: center;
    font-size: 1.7rem;
    color: white;
}
section#portfolio div#tools_skills{
    background-color: rebeccapurple;
    gap: 30px;
}
section#portfolio div.skills_box{
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
}
section#portfolio div#tools_skills div.skills_box{
    border: 1px solid black;
}
section#portfolio div#tools_skills div.skills_box div{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: green;
}
section#portfolio div#tools_skills div.skills_box div div{
    align-items: center;
    gap: 20px;
    background-color: blue;
    display: flex;
}
section#portfolio div#tools_skills div.skills_box div div.image_holder{
    justify-content: center;
    background-color: yellow;
}
section#portfolio div#tools_skills div.skills_box div div.image_holder img{
    border: 1px solid black;
    border-radius: 50%;
    width: 20%;
}





/*------------------------------------------MEDIA Configuration-----------------------------------*/
@media (max-width: 955px) {
    body{
        background: red;
    }
    section#services div#service_box{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 656px){
    section#services div#service_box{
        grid-template-columns: 1fr;
    }
}